# Build Artifacts
build/
builddir/
bin/
obj/
*.exe
!ODC.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.o
*.obj
*.pdb

# Meson/Ninja
.mesonpy/
meson-logs/
meson-private/
meson-info/

# .NET / VS / VS Code
.vs/
.vscode/
*.user
*.suo
*.sln.docstates
ui/dotnet/*/bin/
ui/dotnet/*/obj/

# System / IDE
.DS_Store
Thumbs.db
*.swp
*.bak



!winInstaller/drivers/*.exe
!winInstaller/drivers/*.cat
!winInstaller/drivers/*.inf
!winInstaller/drivers/*.sys

!winInstaller/settings_dotnet.cfg
!winInstaller/imgui.ini
